@media all and (max-width: 424px){
    .margins{
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 64px;
    } 
}
@media all and (min-width: 425px) and (max-width: 1023px){
    .margins{
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 88px; 
    }
}
@media all and (min-width: 1024px){
    .margins{
        margin-left: 48px;
        margin-right: 48px;
        margin-bottom: 92px;
        }
}
