@media all and (max-width: 425px){
    .footer-margin{
        margin: 64px 16px 16px 16px;
    } 
}
@media all and (min-width: 425px) and (max-width: 768px){
    .footer-margin{
        margin: 88px 24px 24px 24px;
    }
}

@media all and (min-width: 768px){
    .footer-margin{
        margin: 92px 48px 24px 48px;
    }
}