.footer__column_links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  padding: 0px 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 48px;
}

@media all and (max-width: 425px){
  .footer__column_links{
      margin-left: 16px;
  } 
}

@media all and (max-width: 767px){
.footer__column_links{
  max-width: 186px;
  flex-wrap: wrap;
  min-height: 310px;
}
}
@media all and (min-width: 425px) and (max-width: 1023px){
  .footer__column_links{
      margin-left: 24px;
      margin-right: 24px;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px){
.footer__column_links{
  max-width: 534px;
} 
}
@media all and (min-width: 1024px) and (max-width: 1280px){
.footer__column_links{
  max-width: 742px;
} 
}
@media all and (min-width: 1280px) {
.footer__column_links{
  max-width: 998px;
} 
}



