@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__digit/intro__digit.css);

.intro{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 690px;
}

@media all and (min-width: 1280px) {
    .intro{
        padding-right: 100px;
        padding-left: 100px;
    }
}
