@import url(./__overlay/cover__overlay.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);
@import url(./__text/cover__text.css);
@import url(./__link/cover__link.css);


.cover{
    position: relative;
    margin: 0px;
    z-index: 1;
    
    background-image: url("../../images/cover-trains.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: visible;
    max-width: 1184px;
}

@media all and (max-width: 425px) {
    .cover{
     height: 200px;
    } 
}

@media all and (min-width: 425px) and (max-width: 768px){
    .cover{
     height: 480px;
    
    } 
}

@media all and (min-width: 768px) and (max-width: 1024px){
    .cover{
     height: 640px;
    } 
}

@media all and (min-width: 768px) and (max-width: 1280px){
    .cover{
     height: 740px;
     
    } 
}

@media all and (min-width: 1280px) {
    .cover{
     height: 740px;
     max-width: 1184px;
    } 
}
