@import url(./__column/footer__column.css);
@import url(./__link/footer__link.css);
@import url(./__column/_copyright/footer__column_copyright.css);
@import url(./__column/_links/footer__column_links.css);
@import url(./__list/footer__list.css);

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1280px;
}

@media all and (max-width: 767px){
  .footer{
    flex-direction: column;
  } 
}
