@import url(./__column/footer__column.css);
@import url(./__link/footer__link.css);
@import url(./_copyright/footer__column_copyright.css);
@import url(./_links/footer__column_links.css);

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1280px;
}

@media all and (max-width: 768px){
  .footer{
    max-width: 186px;
    flex-direction: column;
  } 
}

@media all and (min-width: 768px) and (max-width: 1024px){
  .footer{
    max-width: 720px;
  } 
}
@media all and (min-width: 1024px) and (max-width: 1280px){
  .footer{
    max-width: 928px;
  } 
}
@media all and (min-width: 1280px) {
  .footer{
    max-width: 1184px;
  } 
}
