.places__website{
    padding-bottom: 48px;
    display: grid;
    grid-template-rows: repeat(2, 25%);
    align-content: end;
    gap: 12px;
}

@media all and (max-width: 425px) {
    .places__website{
      display: none;
    }
}